.leaf-timeline {
  list-style: none;
  margin: 0;
  padding: var(--leaf-component-timeline-padding, 0);
  color: var(--leaf-component-timeline-color, var(--leaf-color-text));
  font: var(--leaf-component-timeline-font-size, var(--leaf-font-size))/1.6 var(--leaf-font-family);
  &__item {
    position: relative;
    padding: 0 0 24px 26px;
    min-height: 28px;
    &:not(:last-child)::before {
      content: '';
      position: absolute;
      inset-inline-start: 5px;
      top: 16px;
      bottom: 0;
      width: 1px;
      background: var(--leaf-color-border);
    }
  }
  &__dot {
    position: absolute;
    top: 5px;
    inset-inline-start: 0;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border: 2px solid var(--leaf-timeline-color);
    border-radius: 50%;
    color: var(--leaf-timeline-color);
    background: var(--leaf-color-surface);
    display: grid;
    place-items: center;
    svg {
      width: 16px;
      height: 16px;
    }
    &:has(svg) {
      border: 0;
    }
  }
  &__label {
    color: var(--leaf-color-text-muted);
    font-size: 12px;
    margin-bottom: 4px;
  }
  &--right &__item {
    padding: 0 26px 24px 0;
    text-align: end;
    &::before {
      inset-inline-start: auto;
      inset-inline-end: 5px;
    }
  }
  &--right &__dot {
    inset-inline-start: auto;
    inset-inline-end: 0;
  }
  &--alternate &__item {
    width: 50%;
    box-sizing: border-box;
    margin-inline-start: 50%;
    &[data-side='left'] {
      margin-inline-start: 0;
      padding: 0 26px 24px 0;
      text-align: end;
      &::before {
        inset-inline-start: auto;
        inset-inline-end: -1px;
      }
      .leaf-timeline__dot {
        inset-inline-start: auto;
        inset-inline-end: -6px;
      }
    }
    &[data-side='right'] {
      &::before {
        inset-inline-start: -1px;
      }
      .leaf-timeline__dot {
        inset-inline-start: -6px;
      }
    }
  }
  [data-pending] .leaf-timeline__dot {
    border-style: dashed;
  }
}
