.leaf-popover {
  padding: var(--leaf-component-popover-padding, 14px 16px);
  outline: none;
  overflow-wrap: anywhere;
  border-color: var(--leaf-color-border-alpha-85);
  &__title {
    margin-block-end: 8px;
    color: var(--leaf-color-text);
    font-weight: 600;
    font-size: var(--leaf-font-size);
    letter-spacing: -0.015em;
  }
  &__content {
    min-width: 0;
    color: var(--leaf-color-text-muted);
    line-height: 1.65;
    > :first-child {
      margin-block-start: 0;
    }
    > :last-child {
      margin-block-end: 0;
    }
  }
}
