@use '../styles/mixins' as mixins;
.leaf-checkbox {
  @include mixins.choice;
  &__input {
    border-radius: var(--leaf-choice-radius, 5px);
  }
  &__mark {
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    color: var(--leaf-color-on-primary);
    pointer-events: none;
    stroke-width: 2.5;
  }
  &__input:checked:not(:indeterminate) ~ &__mark--check,
  &__input:indeterminate ~ &__mark--mixed {
    display: block;
  }
}
